nav {
    position:sticky;
    top: 0;
    background-color: #f3f3f3;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: #111;
    color: #fcb900;
}